@{
    //ViewBag.Title = Skytex.Recursos.Textos.strMenu2;
    ViewData["controlador"] = ViewContext.RouteData.Values["Controller"];
    ViewData["action"] = ViewContext.RouteData.Values["Action"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />
    <ul class="list-inline">
        <li><img src="/Media/skytex.png" width="190" height="90" /></li>
    </ul>
    <br />
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#quienes" aria-controls="quienes" role="tab" data-toggle="tab">@Skytex.Recursos.Textos.strSubTitulo2</a></li>
            <li role="presentation"><a href="#mision" aria-controls="mision" role="tab" data-toggle="tab">@Skytex.Recursos.Textos.strSubTitulo3</a></li>
            <li role="presentation"><a href="#vision" aria-controls="vision" role="tab" data-toggle="tab">@Skytex.Recursos.Textos.strSubTitulo4</a></li>
            <li role="presentation"><a href="#valores" aria-controls="valores" role="tab" data-toggle="tab">@Skytex.Recursos.Textos.strSubTitulo5</a></li>
            <li role="presentation"><a href="#calidad" aria-controls="valores" role="tab" data-toggle="tab">@Skytex.Recursos.Textos.strSubTitulo7</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="quienes">
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <a class="thumbnail">
                            <img src="/Media/skytex2.png" alt="Skytex">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo11
                        </p>
                    </div>
                    <br />
                        <div class="col-md-3">
                            <a class="thumbnail">
                                <img src="/Media/pg6-2.jpg" alt="Skytex">
                            </a>
                        </div>
                    <div class="col-md-9">
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo12
                        </p>

                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo13
                        </p>
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo14
                        </p>
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo15
                        </p>
                        <br />
                    </div>
                        <div class="col-md-9">
                            <p class="lead text-justify">
                                @Skytex.Recursos.Textos.strParrafo16
                            </p>
                            <p class="lead text-justify">
                                @Skytex.Recursos.Textos.strParrafo17
                            </p>
                            <p class="lead text-justify">
                                @Skytex.Recursos.Textos.strParrafo18
                            </p>
                            <p class="lead text-justify">
                                @Skytex.Recursos.Textos.strParrafo19
                            </p>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail">
                                <img src="/Media/pg1.png" alt="Skytex">
                            </a>
                            <br />                            
                        </div>
                        
                        <div class="col-md-2"><br /></div>
                        <div class="col-md-8"><br /><img class="img-responsive" src="/Media/plantaAgua.jpg" /></div>
                    </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mision">
                <br />
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a class="thumbnail">
                            <img src="/Media/skytex2.png" alt="...">
                        </a>
                    </div>
                    <blockquote>
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo20
                        </p>
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo26
                        </p>
                        <footer>Sandy Cassab Harari - @Skytex.Recursos.Textos.strTitulo29</footer>
                    </blockquote>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="vision">
                <br />
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a class="thumbnail">
                            <img src="/Media/skytex2.png" alt="...">
                        </a>
                    </div>
                    <blockquote>
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo21
                        </p>
                        <footer>Sandy Cassab Harari - @Skytex.Recursos.Textos.strTitulo29</footer>
                    </blockquote>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="valores">
                <br />
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a class="thumbnail">
                            <img src="/Media/skyman.png" alt="...">
                        </a>
                    </div>
                    <blockquote>
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo22
                        </p>
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo23<br />
                            <img src="/Media/circuloExito.jpg" width="250" height="200" alt="...">
                        </p>
                        <footer>Sandy Cassab Harari - @Skytex.Recursos.Textos.strTitulo29</footer><br />
                        <div class="col-md-12">
                            <ol class="list-group">
                                <li class="lead list-group-item active">
                                    @Skytex.Recursos.Textos.strSubTitulo6 - @Skytex.Recursos.Textos.strSubTitulo8
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">1</span>
                                    <dl class="lead dl-horizontal">
                                        <dt>@Skytex.Recursos.Textos.strSubTitulo10</dt>
                                        <dd>@Skytex.Recursos.Textos.strParrafo27</dd>
                                    </dl>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">2</span>
                                    <dl class="lead dl-horizontal">
                                        <dt>@Skytex.Recursos.Textos.strSubTitulo11</dt>
                                        <dd>@Skytex.Recursos.Textos.strParrafo28</dd>
                                    </dl>
                                </li>
                                <li class="lead list-group-item active">
                                    @Skytex.Recursos.Textos.strSubTitulo6 - @Skytex.Recursos.Textos.strSubTitulo9
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">3</span>
                                    <dl class="lead dl-horizontal">
                                        <dt>@Skytex.Recursos.Textos.strSubTitulo12</dt>
                                        <dd>@Skytex.Recursos.Textos.strParrafo29</dd>
                                    </dl>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">4</span>
                                    <dl class="lead dl-horizontal">
                                        <dt>@Skytex.Recursos.Textos.strSubTitulo13</dt>
                                        <dd>@Skytex.Recursos.Textos.strParrafo30</dd>
                                    </dl>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">5</span>
                                    <dl class="lead dl-horizontal">
                                        <dt>@Skytex.Recursos.Textos.strSubTitulo14</dt>
                                        <dd>@Skytex.Recursos.Textos.strParrafo31</dd>
                                    </dl>
                                </li>
                            </ol>
                        </div>
                        
                    </blockquote>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="calidad">
                <br />
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a class="thumbnail">
                            <img src="/Media/skytex2.png" alt="...">
                        </a>
                    </div>
                    <blockquote>
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo24
                        </p>
                        <p class="lead text-justify">
                            @Skytex.Recursos.Textos.strParrafo25
                        </p>
                        <footer>Sandy Cassab Harari - @Skytex.Recursos.Textos.strTitulo29</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
