@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Skytex.Contador.CountNewVisitor();
}

<body>
    <span class="ir-arriba icon-arrow-up2"><span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span></span>
    <br />
    <!-- <center><iframe src="https://www.skytex.com.mx/proveedores" width="100%"> </iframe></center> -->
    <div class="container">
        <div class="col-sm-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="Media/banner1.jpg" alt="Skytex">
                        <div class="carousel-caption">
                            @Skytex.Recursos.Textos.strTitulo3
                        </div>
                    </div>
                    <div class="item">
                        <img src="Media/banner2.jpg" alt="Skytex">
                        <div class="carousel-caption">
                            @Skytex.Recursos.Textos.strTitulo3
                        </div>
                    </div>
                    <div class="item">
                        <img src="Media/banner3.jpg" alt="Skytex">
                        <div class="carousel-caption">
                            @Skytex.Recursos.Textos.strTitulo3
                        </div>
                    </div>
                    <div class="item">
                        <img src="Media/banner4.jpg" alt="Skytex">
                        <div class="carousel-caption">
                            @Skytex.Recursos.Textos.strTitulo3
                        </div>
                    </div>
                    <div class="item">
                        <img src="Media/banner5.jpg" alt="Skytex">
                        <div class="carousel-caption">
                            @Skytex.Recursos.Textos.strTitulo3
                        </div>
                    </div>
                    <div class="item">
                        <img src="Media/banner6.jpg" alt="Skytex">
                        <div class="carousel-caption">
                            @Skytex.Recursos.Textos.strTitulo3
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <br />
        <br />
        <div>
            <div class="e">
                <div class="parrafo">
                    <div class="col-md-6">
                        <img class="img-responsive" src="Media/pg5-2.png" style="width: 100%;">
                    </div>
                    <div class="col-md-6">
                        <h3 class="alp">@Skytex.Recursos.Textos.strTitulo1</h3>
                        <p class="ak amf text-justify">
                            @Skytex.Recursos.Textos.strParrafo1
                        </p>
                        <p class="ak amf text-justify">
                            @Skytex.Recursos.Textos.strParrafo2
                        </p>
                        <p class="ak amf text-justify">
                            @Skytex.Recursos.Textos.strParrafo3
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="al aa">
            <div class="e">
                <div class="parrafo">
                    <div class="gg jr">
                        <img class="" src="Media/pg1.png" style="width: 100%;">
                    </div>
                    <div class="gk jg">
                        <h6 class="am eu">@Skytex.Recursos.Textos.strTitulo2</h6>
                        <h3 class="alp">@Skytex.Recursos.Textos.strSubTitulo1</h3>
                        <p class="ak amf text-justify">
                            @Skytex.Recursos.Textos.strParrafo4
                        </p>
                        <p class="ak amf text-justify">
                            @Skytex.Recursos.Textos.strParrafo5
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="k ams">
        </div>
        <div class="anp brandRibbon">
            <div class="e eq">
                <h3 class="am letraFooter eu">@Skytex.Recursos.Textos.strTitulo3</h3>
                <p class="ak amf am">
                    <ul class="list-inline">
                        <li><img class="ag img-responsive" src="Media/skytex2B.png" width="150"></li>
                        <li><img class="ag img-responsive" src="Media/skyfelt.png" width="150"></li>
                        <li><img class="ag img-responsive" src="Media/skymatt.png" width="100"></li>
                        <li><img class="ag img-responsive" src="Media/skyrug.png" width="100"></li>
                        <li><img class="ag img-responsive" src="Media/skytrade.png" width="100"></li>
                        <li><img class="ag img-responsive" src="Media/skyeps1.png" width="150"></li>
                        <li><img class="ag img-responsive" src="Media/skyeps2.png" width="150"></li>
                        <li><img class="ag img-responsive" src="Media/parisina.png" width="170"></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="k ae">
            <div class="e eq">
                <div class="c ah">
                    <div class="gz ix gs kj gm ni">
                        <h5 class="am eu">@Skytex.Recursos.Textos.strTitulo4</h5>
                        <h3 class=" text-uppercase">@Skytex.Recursos.Textos.strParrafo6</h3>
                    </div>
                </div>
                <div class="c af">
                    <div class="gc anh ah">
                        <img class="ag img-responsive" src="Media/maq_hilos.jpg" width="300">
                        <p class="text-justify">@Skytex.Recursos.Textos.strParrafo7</p>
                    </div>
                    <div class="gc anh ah">
                        <img class="ag img-responsive" src="Media/listones.jpg" width="300">
                        <p class=" text-justify">@Skytex.Recursos.Textos.strParrafo8</p>
                    </div>
                    <div class="gc anh ah">
                        <img class="ag img-responsive" src="Media/medio_ambiente.png" width="300">
                        <p class=" text-justify">@Skytex.Recursos.Textos.strParrafo9</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="c">
                <center>
                    <h5 class="am eu">@Skytex.Recursos.Textos.strTitulo5</h5>
                    <h3 class="alp">@Skytex.Recursos.Textos.strParrafo10</h3>
                    <div id="googleMap" style="width:80%;height:400px;"></div>
                </center>
            </div>
        </div>
        <div class="k ams">

        </div>
        <div class=" aj">
            <div class="e">
                <br />
                <br />
                <div class="c">
                    <div class="gg amf">
                        <ul class="fh ">
                            <li class="ag">
                                <h6 class="eu">@Skytex.Recursos.Textos.strTitulo6</h6>
                            </li>
                            <li class="letraFooter">
                                <address>
                                    <strong>Skytex México S.A de C.V.</strong><br><br />
                                    <strong>Lic. Myriam Pérez Escobedo</strong><br>
                                    <p class="alp">
                                        <abbr title="Email">Email:</abbr>
                                        <a href="mailto:myriam.perez@skytex.com.mx?subject=Contacto Skytex">myriam.perez@skytex.com.mx</a>
                                        <br />
                                    </p>
                                    <strong>Lic. Maria Goretti Popoca Coyotl</strong><br>
                                    <p class="alp">
                                        <abbr title="Email">Email:</abbr>
                                        <a href="mailto:maria.goretti@skytex.com.mx?subject=Contacto Skytex">maria.goretti@skytex.com.mx</a>
                                        <br />
                                    </p>
                                </address>
                                <address>
                                    <strong>Paseo de la Reforma 2620-405 </strong><br>
                                    <strong>Colonia Lomas Altas, Del. Miguel Hidalgo. C.P. 11950, México D.F.</strong><br>
                                    <p class="alp">
                                        <abbr title="Tel">Tel.:</abbr> 50 81 8940
                                        <br />
                                        <abbr title="Tel">Tel.:</abbr> 50 81 8946
                                    </p>
                                </address>
                            </li>
                        </ul>
                    </div>
                    <div class="fu">
                        <ul class="fh sv">
                            <li class="ag">
                                <h6 class="eu">Facebook</h6>
                            </li>
                            <li class="am">
                                <a href="https://www.facebook.com/pages/Skytex-M%C3%A9xico-SA-de-CV/417270945049937" target="_blank"><img class="ag img-responsive" src="Media/facebook.png" width="45"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="fu">
                        <ul class="fh sv">
                            <li class="ag">
                                <h6 class="eu">Linked In</h6>
                            </li>
                            <li class="am">
                                <a href="https://www.linkedin.com/company/skytex-mexico-sa-de-cv?trk=top_nav_home" target="_blank"><img class="ag img-responsive" src="Media/linkedin.png" width="45"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="fu">
                        <ul class="fh">
                            <li class="ag">
                                <h6 class="eu">Google +</h6>
                            </li>
                            <!-- <li class="am"><a href="https://plus.google.com/115559457839308952639/about" target="_blank"><img class="ag img-responsive" src="Media/google.png" width="45"></a></li> -->
                            <li class="am">
                                <a href="https://plus.google.com/107599648363134966181/about" target="_blank"><img class="ag img-responsive" src="Media/google.png" width="45"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>