
@{
    ViewBag.Title = "SkyFelt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<ul class="list-inline">
    <li><img src="/Media/skytex.png" width="190" height="90" /></li>
</ul>
<br />
<div class="container">
    <div class="row">
        <div class="well well-lg">
            <h3>@ViewBag.Title <small>Skytex Mexico S.A de C.V.</small></h3>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a class="thumbnail">
            <img src="/Media/skyfelt.jpg" alt="...">
        </a>
    </div>
    <p class="lead text-justify">
        @Skytex.Recursos.Textos.strParrafoSkyFelt1
    </p>
    <p class="lead text-justify">
        @Skytex.Recursos.Textos.strParrafoSkyFelt2
    </p>
    <p class="lead text-justify">
        @Skytex.Recursos.Textos.strParrafoSkyFelt3
    </p>
    <p class="lead text-justify">
        @Skytex.Recursos.Textos.strParrafoSkyFelt4
    </p>
</div>
<br />
<div class="row">
    <div class="col-sm-6 col-md-2"></div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/Media/pg4-3.jpg" alt="...">
            <div class="caption">
                <h3></h3>
                <p>

                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/Media/pg4-4.jpg">
            <div class="caption">
                <h3></h3>
                <p>

                </p>
            </div>
        </div>
    </div>
</div>
