
@{
    ViewBag.Title = "SkyMatt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<ul class="list-inline">
    <li><img src="/Media/skytex.png" width="190" height="90" /></li>
</ul>
<br />
<div class="container">
    <div class="row">
        <div class="well well-lg">
            <h3>@ViewBag.Title <small>Skytex Mexico S.A de C.V.</small></h3>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a class="thumbnail">
            <img src="/Media/Skymatt2.png" width="190" height="90" />
        </a>
    </div>
    <p class="lead text-justify">
        @Skytex.Recursos.Textos.strParrafoSkyMatt1
    </p>
    <p class="lead text-justify">
        @Skytex.Recursos.Textos.strParrafoSkyMatt2
    </p>
    <p class="lead text-justify">
        @Skytex.Recursos.Textos.strParrafoSkyMatt3
    </p>
</div>
<br />
<address>
    <strong>Rafael Sagahón Ramos</strong><br>
    <abbr>@Skytex.Recursos.Textos.strParrafoSkyMatt4</abbr>
</address>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/Media/skymattW1.png">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/Media/skymattW2.png">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/Media/skymattW3.png">
        </div>
    </div>
</div>
<br />

