
@{
    ViewBag.Title = "Detalle Oferta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Skytex.Recursos.Textos.strBoton2</h4>
            </div>
            <div class="modal-body modal-lg">
                @using (Html.BeginForm("DetalleOferta", "BolsaTrabajo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="ofertaTrabajo" class="form-control" id="exampleInputOferta" value="Oferta 1">
                    <div class="form-group">
                        <label for="exampleInputEmail1">@Skytex.Recursos.Textos.strLabel6:</label>
                        <input type="email" name="emailContacto" class="form-control" id="exampleInputEmail1" placeholder="Email" readonly value="fernando.garcia@skytex.com.mx">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">@Skytex.Recursos.Textos.strLabel8:</label>
                        <input type="text" name="nomCompleto" class="form-control" id="exampleInputName" placeholder="Nombre Completo" pattern="[a-zA-Záéíóúñ ]*" title="Ingresa Tu Nombre (Solo Se Permiten Letras)" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">@Skytex.Recursos.Textos.strLabel7:</label>
                        <input type="email" name="emailCandidato" class="form-control" id="exampleInputEmail2" placeholder="ejemplo@hotmail.com" title="Ingresa Tu Email" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputTelefono">Telefono:</label>
                        <input type="text" name="telefono" class="form-control" id="exampleInputTelefono" placeholder="Telefono" pattern="[0-9 ]*" title="Ingresa Tu Telefono (Solo Se Permiten Numeros)" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Ultimo Grado de Estudios:</label>
                        <select name="estudios" class="form-control">
                            <option value="1">Primaria</option>
                            <option value="2">Secundaria</option>
                            <option value="3">Preparatoria</option>
                            <option value="4">Universidad(Lic./Ing.)</option>
                            <option value="5">Maestria</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <table id="dataTable">
                            <thead>
                                <tr>
                                    <th>Empresa:</th>
                                    <th>Puesto</th>
                                    <th>Periodo</th>
                                </tr>
                            </thead>
                            <tbody id="tableToModify">
                                <tr id="rowToClone">
                                    <td><input type="text" name="empresa[]" class="form-control" /></td>
                                    <td><input type="text" name="puesto[]" class="form-control" /></td>
                                    <td>Fecha Inicio:<input type="date" name="inicio[]" class="form-control" />Fecha Fin:<input type="date" name="fin[]" class="form-control" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="button" name="clonar" value="Otra Fila" onclick="cloneRow()" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputComentarios1">@Skytex.Recursos.Textos.strLabel9:</label>
                        <textarea name="comentarios" class="form-control" rows="3" cols="30" placeholder="Comentarios"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">@Skytex.Recursos.Textos.strLabel10:</label>

                        <input type="file" name="archivo" class="form-control" id="exampleInputFile" title="Ingresa Tu CV" accept=".pdf" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  @Skytex.Recursos.Textos.strBoton4</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Skytex.Recursos.Textos.strBoton5</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br />
<ul class="list-inline">
    <li><img src="/Media/skytex.png" width="190" height="90" /></li>
</ul>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="well well-lg">
            <h3>"Nombre oferta"<small>Skytex Mexico S.A de C.V.</small></h3>            
        </div>  
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <dl class="dl-horizontal">
                    <dt><strong>@Skytex.Recursos.Textos.strLabel1:</strong></dt>
                    <dd>
                        <p class="text-justify">
                            Sed imperdiet malesuada pharetra. Mauris dignissim erat sed tincidunt luctus. Nunc diam nunc, rhoncus a nibh quis,
                            consequat tincidunt felis. Morbi eget eros felis. Sed ullamcorper maximus ligula et luctus. Vestibulum eu ante tortor.
                            Proin malesuada ante sit.<br />
                            Integer tincidunt velit nec sapien faucibus ultrices. Aliquam non libero a sapien sollicitudin dictum eget eu mauris.
                            Sed at fringilla massa, id viverra nulla. Pellentesque rhoncus posuere augue, sed rhoncus leo pretium sed. Integer ornare
                            imperdiet ipsum bibendum volutpat. Sed tempus diam in augue finibus scelerisque. Duis blandit efficitur erat, vel placerat
                            elit suscipit vel. Fusce vel odio ac turpis pretium tempor. Cras non mi sit amet massa sollicitudin ornare. Nam viverra
                            mauris id porttitor lacinia. Etiam magna neque, dictum id elit eget, pretium tincidunt sem. Vestibulum dictum metus sit
                            amet risus dictum fermentum.<br />
                            Suspendisse commodo ligula in pharetra dictum. Ut et consequat lorem, at tristique dolor. Sed in ligula at diam euismod
                            blandit. Duis dapibus libero felis, ac accumsan orci vehicula sed. Ut egestas eros in libero pretium luctus. Aliquam id
                            consectetur sapien. Phasellus ut scelerisque leo. Donec accumsan sapien sed mattis suscipit.
                        </p>
                    </dd>
                </dl> 
                <dl class="dl-horizontal">
                    <dt><strong>@Skytex.Recursos.Textos.strLabel2:</strong></dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Sueldo Base Mensual.</li>
                            <li>Prestaciones de Ley.</li>
                            <li>Contratación directa por la empresa.</li>
                            <li>Crecimiento Laboral</li>
                            <li>Etc.</li>
                        </ul>
                    </dd>
                </dl> 
                <dl class="dl-horizontal">
                    <dt><strong>@Skytex.Recursos.Textos.strLabel3:</strong></dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Primer Turno</li>
                            <li>Segundo Turno</li>
                            <li>Tercer Turno</li>
                            <li>Turno Central</li>
                        </ul>
                    </dd>
                </dl>                
                <dl class="dl-horizontal">
                    <dt><strong>@Skytex.Recursos.Textos.strLabel4:</strong></dt>
                    <dd>
                        <ol>
                            @model IEnumerable<Skytex.Models.Gift>
                            @foreach (var item in Model)
                            {
                                <li>@item.Name</li>
                            }
                        </ol>
                    </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt><strong>@Skytex.Recursos.Textos.strLabel5:</strong></dt>
                    <dd>
                        N numero de vacantes (si aplica)
                    </dd>
                </dl>
                
            </div>
            <div class="col-xs-6 col-md-4">
                <blockquote>
                    <p><strong><small>@Skytex.Recursos.Textos.strLabel11</small></strong></p> 
                    <a role="button" class="btn btn-success" href="@Url.Action("postulate", "BolsaTrabajo")"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> @Skytex.Recursos.Textos.strBoton2</a>
                    <a role="button" class="btn btn-danger" href="@Url.Action("Index", "BolsaTrabajo")">@Skytex.Recursos.Textos.strBoton3</a>
                </blockquote>
            </div>
        </div>      
    </div>
</div>
<br />