<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Skytex México</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap")
    <link rel="shortcut icon" href="@Url.Content("~/Media/skytex.ico")" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">

    <link type="text/css" rel="stylesheet" href="~/Content/alertify.core.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/alertify.default.css" />
    <link href="~/Scripts/toolkit-startup.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="~/Scripts/alertify.min.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>   
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
        $(document).ready(function () {
            $('.ir-arriba').click(function () {
                $('body, html').animate({ scrollTop: '0px' }, 300);
            });

            $(window).scroll(function () {
                if ($(this).scrollTop() > 0) {
                    $('.ir-arriba').slideDown(300);
                } else {
                    $('.ir-arriba').slideUp(300);
                }
            });

        });
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 0) {
                    //$('.flotante').animate({ marginBottom: 50 }, 100);
                    $('.flotante').slideDown(300);
                } else {
                    //$('.flotante').animate({ marginBottom: 0 }, 100);
                    $('.flotante').slideUp(300);
                }
            });

        });
        function proveedores() {
            //alert('@Skytex.Recursos.Textos.strAviso2');
            window.location.href = 'https://www.skytex.com.mx/proveedores/';
        }
        var contador = 1;
        function cloneRow() {
            //se incrementa el contador cada ves que una fila es clonada
            contador++;
            // validacion de solo 3 inserciones mas
            if (contador <= 3) {
                var row = document.getElementById("rowToClone");
                var table = document.getElementById("tableToModify");
                var clone = row.cloneNode(true);
                //se agrega la nueva fila
                table.appendChild(clone);
                // se regresa el valor del contador
                return contador;
            } else {
                // si se alcanzan las 3 inserciones mas se nuestra una alerta
                alert('Solo Puedes Capturar 3 Empleos Previos');
            }
        }

        function onEnviar() {
            document.getElementById("variable").value = contador;
        }

        var myCenter = new google.maps.LatLng(19.2163540, -98.4035020);

        function initialize() {
            var mapProp = {
                center: myCenter,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.HYBRID
            };

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
            });

            marker.setMap(map);

            var infowindow = new google.maps.InfoWindow({
                content: "Skytex México S.A de C.V."
            });

            infowindow.open(map, marker);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    @{
        var url2 = Request.RawUrl;
        string clas = "";
        string clas2 = "";
        string clas3 = "";
        if (url2.Contains("/Acerca"))
        {
            clas2 = "active";
        }
        else if (url2.Contains("/SkyMatt"))
        {
            clas3 = "active";
        }
        else
        {
            clas = "active";
        }
    }
    <span class="ir-arriba icon-arrow-up2"><span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span></span>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Media/logoSkytexB.png" width="22" height="20"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="@clas"><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> @Skytex.Recursos.Textos.strMenu1 <span class="sr-only">(current)</span></a></li>
                    <li class="@clas2"><a href="@Url.Action("Acerca", "Home")"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Skytex México <span class="sr-only">(current)</span></a></li>
                    <li class="@clas3"><a href="@Url.Action("SkyMatt", "Home")"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> SkyMatt</a></li>
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Skytex México <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Acerca", "Home")"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Skytex México</a></li>
                            <li><a href="@Url.Action("EnConstruccion", "Home")">SkyRug</a></li>
                            <li><a href="@Url.Action("SkyMatt", "Home")"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> SkyMatt</a></li>
                            <li><a href="@Url.Action("SkyFelt", "Home")">SkyFelt</a></li>
                            <li><a href="@Url.Action("EnConstruccion", "Home")">Fiber Home</a></li>
                            <li><a href="@Url.Action("EnConstruccion", "Home")">Body Fx</a></li>
                            <li><a href="@Url.Action("EnConstruccion", "Home")">SkyDeco</a></li>
                        </ul>
                    </li>-->
                    <li><a href="https://jobs.lever.co/skytex.com.mx?lever-source=SITIO-WEB-SKYTEX"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> @Skytex.Recursos.Textos.strMenu3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-text-width" aria-hidden="true"></span> @Skytex.Recursos.Textos.strMenu4 <span class="caret"></span></a>
                        <ul class="dropdown-menu list-inline">
                            <li><a class="idioma" href="@Url.Action("SetLanguage", "Home", new { idioma = "es-MX" })"><img src="~/Media/Mexico-Flag.ico" width="18" height="18"> Español</a></li>
                            <li><a class="idioma" href="@Url.Action("SetLanguage", "Home", new { idioma = "en-US" })"><img src="~/Media/United-States-Flag.ico" width="18" height="18"> English</a></li>
                            <!-- <li><a class="idioma" href="@Url.Action("SetLanguage", "Home", new { idioma = "ja-JP" })"><img src="~/Media/Japan-Flag.ico" width="18" height="18"> 日本の(Japones)</a></li> -->
                            <!-- <li><a class="idioma" href="@Url.Action("SetLanguage", "Home", new { idioma = "pt-BR" })"><img src="~/Media/Brazil-Flag.ico" width="18" height="18"> Portuges</a></li> -->
                        </ul>
                    </li>
                    <li><a href="https://www.skytex.com.mx/proveedores/" onclick="proveedores()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"> </span> @Skytex.Recursos.Textos.strMenu5</a></li>
                    <!-- se agrego el modulo para las quejas de los usuarios -->
                    <li><a href="@Url.Action("Comentarios", "Home")"><span class="glyphicon glyphicon-user" aria-hidden="true"> </span> @Skytex.Recursos.Textos.strMenu6</a></li>
                </ul>
                <!-- Html.Partial("_LoginPartial") -->
            </div>
        </div>
    </div>
    <div class="container body-content">
        
        <div class="flotante">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            @Skytex.Recursos.Textos.strVisita
            <span class="label label-danger"><strong>N#@Skytex.Contador.GetNumberVisitor()</strong></span>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Skytex México S.A. de C.V.</p>
            @Html.ActionLink(Skytex.Recursos.Textos.strAviso1, "Privacidad", "Home")
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
